
.container {
    padding: 1rem 10vw; 
}

/* Introduction information css */
.intro-text {
    margin-top: 25vh; 
    margin-bottom: 35vh; 
    font-size: 3rem; 
}

.intro-text h1 {
    font-size: 4rem; 
    margin-top: 20px;
}

.intro-text h1 span {
    color: rgb(254, 88, 113);
}

/* about me */
#about {
    padding: 4vh 0; 
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 1.5rem; 
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 2.5rem; 
    font-weight: 600;
    background: rgb(254, 88, 113);
}

.tab-titles {
    display: flex;
    margin: 2vh 0 4vh; 
}

.tab-links {
    margin-right: 5vw;
    font-size: 1.5rem; 
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 100%;
    height: 0.3rem; 
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    transition: 0.5s;
}

.tab-contents ul li {
    list-style: none;
    margin: 1vh 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 1.3rem;
}

.tab-contents {
    display: block;
}
